{% extends "base.html" %}

{% block title %}Cambiar contraseña | Foro Age of Empires IV{% endblock %}

{% block description %}
<meta name="description"
    content="Identifíquese para tener acceso al primer y único foro de Age of Empires IV en español para hispanohablantes." />
{% endblock %}

{% block content %}
<div class="container text-light mt-5">
    <form method="post" enctype="multipart/form-data">
        <div class='text-light mx-auto mb-3 col-3'>
        <h1 class="mt-5 yellow_color">Cambiar contraseña</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-dark">Cambiar contraseña</button>
        </div>
    </form>
</div>
<script>
    $("#id_old_password").addClass("form-control")
    $("#id_new_password1").addClass("form-control")
    $("#id_new_password2").addClass("form-control")
</script>
{% endblock %}