{% extends "base.html" %}

{% block content %}
<div class="container text-light mt-5 ">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-5 mx-auto col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-2">
            <h1 class='d-block mb-3'>{{ request.user.username }}</h1>
            <labelclass="form-label">Cambiar nombre de usuario</label>
                <input type="text" name='username' class="form-control" value="{{ request.user.username }}">
                <div id="userlHelp" class="form-text text-light mb-5">Los espacios en blanco serán eliminados</div>

                {% if request.user.avatar %}
                <div class='mb-2'>
                    <img id="user_avatar" class="d-inline img-thumbnail" src="{{request.user.avatar.url}}" alt="avatar"
                        width="200" height="200" />
                    {% else %}
                    <img id="user_avatar" class="d-inline img-thumbnail" src="/avatars/generic_avatar.png" alt="avatar"
                        width="200" height="200" />
                    {%endif%}
                </div>
                <div class='mb-2'>
                    <labelclass="form-label">Cambiar foto de perfil</label>
                </div>
                <div class='mb-5'>
                    <label class="btn btn-primary mt-2">
                        Selccionar archivo <input name='avatar' type="file" hidden>
                    </label>
                </div>
                <button type="submit" class="btn btn-danger">Guardar cambios</button>
        </div>

    </form>
</div>

{% endblock %}