{% extends "base.html" %}

{% block title %}Identificarse | Foro Age of Empires IV | Redirige a: {{request.GET}} {% endblock %}

{% block content %}
<div class="container text-light mt-5">
    <form method="post" enctype="multipart/form-data">
        <div class='text-light mx-auto col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 '>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Identificarse</button>
        </div>
    </form>
</div>
<script>
    $("#id_username").addClass("form-control")
    $("#id_password").addClass("form-control")
</script>
{% endblock %}