{% extends "base.html" %}

{% block title %}Constraseña actualizada con exito | Foro Age of Empires IV{% endblock %}

{% block description %}
<meta name="description"
    content="Identifíquese para tener acceso al primer y único foro de Age of Empires IV en español para hispanohablantes." />
{% endblock %}

{% block content %}
<div class="container text-light mt-5 text-center">
    <h1 class="mt-5 yellow_color ">Tu contraseña ha sido actualizada con exito</h1>
    <p>Volver al inicio: <a href="/">Inicio</a></p>
    
</div>
{% endblock %}