{% extends 'base.html' %}

{% block title %}Ingrese una nueva contraseña | Foro Age of Empires IV{% endblock %}

{% block content %}
<div class="container yellow_color text-center mt-5">
    {% if validlink %}
    <h1>Cree una nueva contraseña</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Cambiar contraseña">
    </form>

    {% else %}

    <p>El enlace de restablecimiento de la contraseña es inválido porque ya ha sido utilizado. Por favor, solicite un
        nuevo reseteo de contraseña.</p>
</div>

{% endif %}
{% endblock %}