{% extends "base.html" %}

{% block content %}
<div class="container text-light mt-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <h1 class='d-block'>{{ user.username }}</h1>
            {% if user.avatar %}
            <img id="user_avatar" class="d-inline img-thumbnail" src="{{user.avatar.url}}" alt="avatar" width="200"
                height="200" />
            {% else %}
            <img id="user_avatar" class="d-inline img-thumbnail" src="/avatars/generic_avatar.png" alt="avatar"
                width="200" height="200" />
            {%endif%}
        </div>
        <a href="/accounts/change_profile" class="btn btn-primary btn-lg active" role="button"
            aria-pressed="true">Editar usuario</a>

    </form>
</div>

<div class="text-light mx-auto col-xs-4 col-sm-3 col-md-3 col-lg-3 col-xl-2">
    <h1>PUBLICACIONES</h1>
    <p>(Próximamente)</p>
    <h1>RESPUESTAS</h1>
    <p>(Próximamente)</p>

</div>
{% endblock %}