{% extends "base.html" %}

{% block title %}Detalles del usuario: {{user.username}} | Foro Age of Empires IV{% endblock %}

{% block content %}
<div class="container text-light mt-5">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <h1 class='d-block'>{{ user.username }}</h1>
            {% if user.avatar %}
            <img id="user_avatar" class="d-inline img-thumbnail" src="{{user.avatar.url}}" alt="avatar" width="200"
                height="200" />
            {% else %}
            <img id="user_avatar" class="d-inline img-thumbnail" src="/avatars/generic_avatar.png" alt="avatar"
                width="200" height="200" />
            {%endif%}
        </div>

        {%if user.id == request.user.id%}
            <a href="/accounts/change-profile" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Editar usuario</a>
        {%endif%}
        
    </form>
</div>

<div class="text-light mx-auto col-4">
    <h1>PUBLICACIONES</h1>
    {%if user.id == request.user.id%}
        {% if discussion_list %}
        <table class="table table-hover table-borderless align-middle table-striped" aria-describedby="discussions table">
            <thead class="yellow_color">
                <tr>
                    <th scope="col" style="width:100%">Tus publicaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for discussion in discussion_list %}
                <tr class="yellow_background_color">
                    <th scope="row">
                        <a class="author_link" href="/{{discussion.id}}">
                            {{ discussion.title }}
                        </a>
                    </th>
                    {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2 class="text-danger">Todavía no has publicado nada.</h2>
        {% endif %}
    {%else%}
        {% if discussion_list %}
        <table class="table table-hover table-borderless align-middle table-striped" aria-describedby="discussions table">
            <thead class="yellow_color">
                <tr>
                    <th scope="col" style="width:100%">Publicaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for discussion in discussion_list %}
                <tr class="yellow_background_color">
                    <th scope="row">
                        <a class="author_link" href="/{{discussion.id}}">
                            {{ discussion.title }}
                        </a>
                    </th>
                    {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2 class="text-danger">El usuario todavía no ha publicado nada.</h2>
        {% endif %}

    {% endif %}
        <h1>RESPUESTAS</h1>
    {%if user.id == request.user.id%}
        {% if response_list %}
        <table class="table table-hover table-borderless align-middle table-striped" aria-describedby="discussions table">
            <thead class="yellow_color">
                <tr>
                    <th scope="col" style="width:100%">Tus respuestas</th>
                </tr>
            </thead>
            <tbody>
                {% for response in response_list %}
                <tr class="yellow_background_color">
                    <th scope="row">
                        <a class="author_link" href="/{{response.topic}}">
                            Respuesta:{{ response.text|safe }} Respondiendo a: {{response.topic.title}} ({{response.topic.user}})
                        </a>
                    </th>
                    {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2 class="text-danger">Todavía no has respondido a ningun post.</h2>
        {% endif %}
    {%else%}
        {% if response_list %}
            <table class="table table-hover table-borderless align-middle table-striped" aria-describedby="discussions table">
                <thead class="yellow_color">
                    <tr>
                        <th scope="col" style="width:100%">Respuestas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for response in response_list %}
                    <tr class="yellow_background_color">
                        <th scope="row">
                            <a class="author_link" href="/{{response.topic}}">
                                Respuesta:{{ response.text|safe }} Respondiendo a: {{response.topic.title|safe}} ({{response.topic.user}})
                            </a>
                        </th>
                        {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h2 class="text-danger">El usuario todavía no ha respondido a ningun post.</h2>
            {% endif %}
    {% endif %}

</div>
{% endblock %}