<html>

<head>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'forum/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'forum/style.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <title>Foro Age of Empires IV</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="{% static 'forum/title.png' %}">
        </a>
    </nav>

    <div class = "text-light w-25 col col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <form action="{% url 'author_create_form' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group margin_top_30">
            {{ form.username.errors }}
            <label class="form-label" for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
            <input type="text" class="form-control" placeholder="Usuario" name="username" id="id_username">
        </div>

        <div class="form-group">
            {{ form.email.errors }}
            <label class="form-label" for="{{ form.email.id_for_label }}">Email:</label>
            <input type="text" class="form-control" placeholder="Email" name="email" id="id_email">
        </div>

        <div class="form-group">
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}">Contraseña:</label>
            <input type="password" class="form-control" placeholder="Contraseña" name="password" id="id_password">
        </div>
        <div class="form-group">
            <label for="{{ form.password_repeat.id_for_label }}">Repita contraseña:</label>
            <input type="password" class="form-control" placeholder="Repita contraseña" name="password_repeat" id="id_password_repeat">
        </div>
        <div class="form-group">
            <label for="{{ form.avatar.id_for_label }}">Avatar:</label>
            <input type="file" placeholder="Seleccionar archivo" name="avatar" id="id_avatar">
        </div>
        <input type="submit" value="Submit">
    </form>
    </div>
</body>

</html>