<html>

<head>
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'forum/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'forum/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $("#common_header").load("{% static 'forum/header.html' %}");
        });
    </script>

    <div id="common_header"></div>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img src="{% static 'forum/title.png' %}">
        </a>
    </nav>
    <form class="col col-sm-12 col-md-6 col-lg-4 col-xl-3" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1" class="text-light">Nombre de usuario:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Usuario" name="username" id="id_username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="text-light">Contraseña:</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña"
                name="password" id="id_password">
        </div>
        <button type="submit" class="btn btn-danger">Identificarse</button>
    </form>

</body>

</html>