<html>

<head>

</head>

<body>
    <form action="{% url 'author_login_form' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.subject.errors }}
            <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
            {{ form.username }}
        </div>
        <div class="fieldWrapper">
            {{ form.subject.errors }}
            <label for="{{ form.password.id_for_label }}">Contraseña:</label>
            {{ form.password }}
        </div>
        <input type="submit" value="Submit">
    </form>
</body>

</html>