body {
    background-image: url("background.jpg");
    font-family: 'Times New Roman', serif !important;
    font-size: large !important;
}

nav {
    background-image: url("navbar_background.jpg");
}

#post_list {
    margin-top: 15px;
}

.yellow_color {
    color: #d7caa6 !important;
}

.yellow_background_color {
    background-color: #fff5da !important;
}

.white_background_color {
    background-color: white !important;
}

.margin_top_30 {
    margin-top: 30px !important;
}

textarea {
    resize: none;
}

a,
.author_link {
    text-decoration-line: none;
    color: black;
}

#user_detail_username{
    font-size: 300%;
    font-weight: bold;
}