body {
    background-image: url("background.jpg");
}

nav {
    background-image: url("navbar_background.jpg");
}

#post_list {
    margin-top: 15px;
}

#author_avatar {
    margin-right: 20px !important;
}

.new_topic_button, #post_create_form, #post_create_form, #post_detail {
    margin-top: 30px;
}

#post_detail {
    background-color: #d7caa6;
    padding: 30px;
}

#post_title_wrapper {
    color: #f1e9d0;
    margin-top: 30px;
}

.margin_top_30 {
    margin-top: 30 !important;
}

textarea {
    resize: none;
}