body {
    background-image: url("background.jpg");
}

nav {
    background-image: url("navbar_background.jpg");
}

#post_list {
    margin-top: 15px;
}

#author_avatar {
    margin-right: 20px !important;
}

.new_topic_button {
    margin-top: 30px;
}