{% extends "base.html" %}

{% block title %}{{ discussion.title }} | Foro Age of Empires IV{% endblock %}

{% block description %}
<meta name="description"
    content="Primer y único foro de Age of Empires IV en español para hispanohablantes. {{discussion.title}}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-md-8 col-sm-10 mx-auto">
            <div id="discussion_title_wrapper" class="d-flex text-center yellow_color margin_top_30">
                <h1 id="discussion_title">{{ discussion.title }}</h1>
            </div>
            <div id="discussion_detail" class="d-block yellow_background_color mt-1 p-3">
                <div id="discussion_user_avatar_wrapper">
                    {%if user.id == discussion.user.id%}
                    <div class="position-relative">
                        <div class="position-absolute top-0 end-0">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    {% csrf_token %}
                                    <button id="delete_response_button_{{response.id}}" type="submit"
                                        class="btn btn-primary d-inline"
                                        onclick="confirm_response_delete({{response.id}})"> <em
                                        class="d-inline fas fa-trash btn-primary"></em>
                                        <p class="d-inline">Eliminar</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    {%if user.id == discussion.user.id%}
                    <a href="/accounts/profile/">
                        {%else%}
                        <a href="/accounts/profile/{{discussion.user.id}}">
                            {%endif%}
                            {% if discussion.user.avatar %}
                            <img id="discussion_user_avatar" class="img-thumbnail d-inline"
                                src="{{discussion.user.avatar.url}}" width="75" height="75" alt="user_avatar" />
                            {% else %}
                            <img id="discussion_user_generic_avatar" class="img-thumbnail d-inline"
                                src="/avatars/generic_avatar.png" width="75" height="75" alt="generic_avatar" />
                            {% endif %}
                            <p id="user_username" class="mx-3 d-inline my-auto">
                                <strong>{{discussion.user.username}}</strong>
                            </p>
                        </a>
                        <p class="d-inline date_publication">{{discussion.date_publication|date:"U"}}
                        </p>
                    </a>
                </div>
                <div id="discussion_text" class="my-3">
                    {{ discussion.text|safe }}
                </div>

                <div id="discussion_actions_wrapper">
                    {%if user.id == discussion.user.id%}
                    <div class="position-relative">
                        <div class="position-absolute top-0 end-0">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    {%if user.id == discussion.user.id%}
                                    <form action="edit_text/{{ discussion.id }}">
                                        {% csrf_token %}
                                        <button id="edit_discussion_button_{{discussion.id}}" type="submit"
                                            class="btn btn-primary message_vote_button d-inline"> <em
                                                class="fas fa-edit btn-primary"></em>
                                            <p class="d-inline">Editar</p>
                                        </button>
                                    </form>
                                    {%endif%}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button id="message_vote_button_{{discussion.id}}" type="button"
                        class="btn btn-primary message_vote_button" onclick="message_vote('{{discussion.id}}')">
                        <p id="message_votes_{{discussion.id}}" class="d-inline">
                            {{ vote_count_dict|get_item_from_dict:discussion.id }}</p>
                        {% if request.user.id and discussion in messages_voted_by_user_list %}
                        <!-- Filled hearth -->
                        <em id="message_vote_icon_{{discussion.id}}" class="fas fa-heart d-inline"
                            alt="filled_heart"></em>
                        {% else %}
                        <!-- Empty hearth -->
                        <em id="message_vote_icon_{{discussion.id}}" class="far fa-heart d-inline"
                            alt="empty_heart"></em>
                        {% endif %}
                    </button>

                    {%endif%}

                </div>
            </div>
            <div id="responses_wrapper">
                {% for response in response_list %}
                <div class="d-block mx-auto yellow_background_color mt-3 p-3">
                    <div id="response_user_avatar_wrapper">
                        {%if user.id == response.user.id%}
                        <div class="position-relative">
                            <div class="position-absolute top-0 end-0">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        {% csrf_token %}
                                        <button id="delete_response_button_{{response.id}}" type="submit"
                                            class="btn btn-primary message_vote_button d-inline"
                                            onclick="confirm_response_delete({{response.id}})"> <em
                                            class="d-inline fas fa-trash btn-primary"></em>
                                            <p class="d-inline">Eliminar</p>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <a href="/accounts/profile/{{response.user.id}}" class="user_link">
                            {% if response.user.avatar %}
                            <img id="response_user_avatar" class="d-inline img-thumbnail"
                                src="{{response.user.avatar.url}}" width="75" height="75" alt="user_avatar" />
                            {% else %}
                            <img id="response_user_generic_avatar" class="d-inline img-thumbnail"
                                src="/avatars/generic_avatar.png" width="75" height="75" alt="generic_avatar" />
                            {% endif %}
                            <p id="user_username" class="mx-3 d-inline my-auto"><strong>{{ response.user.username }}
                                </strong></p>
                        </a>
                        <p class="d-inline date_publication">{{ response.date_publication | date:"U"}}</p>
                    </div>
                    {% if response.reply_to.id %}
                    <div id="response_text_{{response.id}}_reply_to_{{response.reply_to.id}}"
                        class="white_background_color mt-3 p-3">
                        <span>En respuesta a {{ response.reply_to.user.username }}:</span>
                        <div class="my-3">
                            {{ response.reply_to.text|safe }}
                        </div>
                    </div>
                    {% endif %}
                    <div id="response_text_{{response.id}}" class="my-3">
                        <p id="response_text">{{ response.text| safe }}</p>
                    </div>
                    <div id="reponse_actions_wrapper_{{response.id}}">
                        {%if request.user.id == response.user.id%}
                        <div class="position-relative">
                            <div class="position-absolute top-0 end-0">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        {%if user.id == response.user.id%}
                                        <form action="edit_response_text/{{ response.id }}">
                                            {% csrf_token %}
                                            <button id="edit_response_button_{{response.id}}" type="submit"
                                                class="btn btn-primary message_vote_button d-inline"> <em
                                                    class="fas fa-edit btn-primary"></em>
                                                <p class="d-inline">Editar</p>
                                            </button>
                                        </form>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        <form method="post" id="message_vote_form_{{response.id}}" class="d-inline">
                            {% csrf_token %}
                            <button id="message_vote_button_{{ response.id }}" type="button"
                                class="btn btn-primary message_vote_button" onclick="message_vote('{{ response.id }}')">
                                <p id="message_votes_{{response.id}}" class="d-inline">
                                    {{ vote_count_dict|get_item_from_dict:response.id }}</p>
                                {% if request.user.id and response in messages_voted_by_user_list %}
                                <!-- Filled hearth -->
                                <em id="message_vote_icon_{{response.id}}" class="fas fa-heart d-inline"
                                    alt="filled_heart"></em>
                                {% else %}
                                <!-- Empty hearth -->
                                <em id="message_vote_icon_{{response.id}}" class="far fa-heart d-inline"
                                    alt="hearth"></em>
                                {% endif %}
                            </button>
                        </form>
                        <form action="response_reply_create/{{ discussion.id }}/{{ response.id }}" class="d-inline">
                            {% csrf_token %}
                            <button id="message_reply_button_{{discussion.id}}" type="submit"
                                class="btn btn-primary message_vote_button d-inline" title="Responder a este mensaje">
                                <em class="fas fa-reply d-inline"></em>
                                <p class="d-inline">Responder</p>
                            </button>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="actions" class="d-block mx-auto margin_top_30">
                {% if request.user.id %}
                <form action="response_create/{{ discussion.id }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mb-3">Responder</button>
                </form>
            </div>
            {% endif %}
            <form action="/">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mb-3">Volver al inicio</button>
            </form>
        </div>
    </div>
</div>

<script>
    //initialization for post and responses vote
    var csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // Initialize buttons disable property if no user is logged in
    function disableVoteButtonsIfNoUserIsLogged() {
        user_logged_in = '{{request.user.id}}' == 'None' ? false : true;
        if (!user_logged_in) {
            $(".message_vote_button").prop("disabled", true)
        }
    }

    // Execute when page is loaded
    $(document).ready(function () {
        disableVoteButtonsIfNoUserIsLogged();
        convertDates();
    });
    //initialization end

    function message_vote(message_id) {
        $.ajax({
                method: "POST",
                url: "/message_vote/" + message_id,
            })
            .done(function (msg) {
                const MESSAGE_VOTE_ID_HTML = "#message_votes_" + message_id
                const MESSAGE_VOTE_ICON_ID_HTML = "#message_vote_icon_" + message_id
                if (msg == "vote") {
                    $(MESSAGE_VOTE_ID_HTML).text(parseInt($(MESSAGE_VOTE_ID_HTML).text()) + 1);
                    $(MESSAGE_VOTE_ICON_ID_HTML).removeClass("far");
                    $(MESSAGE_VOTE_ICON_ID_HTML).addClass("fas");
                } else if (msg == "unvote") {
                    $(MESSAGE_VOTE_ID_HTML).text(parseInt($(MESSAGE_VOTE_ID_HTML).text()) - 1);
                    $(MESSAGE_VOTE_ICON_ID_HTML).removeClass("fas");
                    $(MESSAGE_VOTE_ICON_ID_HTML).addClass("far");
                }
            })
    }


    function convertDates() {
        $(".date_publication").each(function () {
            $(this).text(new Date(parseInt($(this).text()) * 1000).toLocaleString('es'));
        });
    }

    function confirm_discussion_delete() {
        if (confirm("¿Seguro que quiere borrar el post?")) {
            location.replace("/delete_discussion/{{discussion.id}}");
        }
    }

    function confirm_response_delete(response_id) {
        if (confirm("¿Seguro que quiere borrar tu respuesta?")) {
            location.replace('/delete_response/' + response_id);
        }
    }
</script>

{% endblock %}