{% extends "base.html" %}

{% block title %}Nuevo tema | Foro Age of Empires IV{% endblock %}

{% block content %}
<div class="container text-light">
    <div class="row mt-5">
        <div class="col-12 ">
            <h1 class="yellow_color">Nuevo tema de discusión</h1>
            <form action="discussion_create" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-dark">Publicar</button>
            </form>
        </div>
    </div>
</div>

<script>
    $("#id_title").addClass("form-control")
</script>
{% endblock %}