{% extends "base.html" %}

{% block description %}Primer y único foro de Age of Empires IV en español para hispanohablantes. Ayuden a nuestro foro
a mejorar con sus propuestas. En proceso de constante mejora.{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-10 mx-auto">
            <h1 class="mt-5 yellow_color">Bienvenid@ a la primera comunidad de Age of Empires IV para
                hispanohablantes</h1>
            <div class="mt-5 container">
                {% if request.user.id %}
                <div>
                    <a href="discussion_create" class="mb-3 mx-auto btn btn-primary">+ Nuevo tema</a>
                </div>
                {% endif %}
                <div id="table_wrapper">
                    {% if discussion_list %}
                    <table class="table table-hover table-borderless align-middle table-striped"
                        aria-describedby="discussions table">
                        <thead class="yellow_color">
                            <tr>
                                <th scope="col" style="width:75%">Tema</th>
                                <th scope="col">Respuestas</th>
                                <th scope="col">Visitas</th>
                                <th scope="col">Último mensaje</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for discussion in discussion_list %}
                            <tr class="yellow_background_color">
                                <th scope="row">
                                    <a class="author_link" href="{{discussion.id}}">
                                        {{ discussion.title }}
                                    </a>
                                </th>
                                <td class="text-center">
                                    {{discussion_number_response_dict|get_item_from_dict:discussion.id}}
                                </td>
                                <td class="text-center">{{discussion.views}}</td>
                                <td class="text-center">
                                    {{discussion_last_message_date_dict|get_item_from_dict:discussion.id}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h1 class="text-danger">No hay discusiones</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}