{% extends "base.html" %}

{% block title %}Responder | Foro Age of Empires
IV{% endblock %}

{% block content %}
<div class="container text-light">
    <div class="row mt-5">
        <div >
            <h1 class="yellow_color">Responder</h1>
            {% if message_to_reply %}
            <h3>Respuesta a: {{message_to_reply.text|safe|truncatechars_html:100 }}</h3>
            <form action="/response_reply_create/{{ discussion_id }}/{{message_to_reply.id}}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary mb-5">Publicar</button>
            </form>
            {% else %}
            <form action="/response_create/{{ discussion_id }}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary mb-5">Publicar</button>
            </form>
            {%endif%}
        </div>
    </div>
</div>
{% endblock %}